extends layout

block content
  .timeline
    .myProfile
      h2 내 정보
      if user && user.id
        div= user.nick
        div= user.email
    .followings.half
      h2 팔로잉 목록
      if user.Followings
        for following in user.Followings
          div= following.nick
    .followers.half
      h2 팔로워 목록
      if user.Followers
        for follower in user.Followers
          div= follower.nick